body {
  margin: 0;
}
.navbar > img {
  display: flex;
  position: absolute;
  width: 312px;
  height: 312px;
  left: -96px;
  top: -117px;
  margin-left: 47;
  margin-top: 66;
}

.links {
  color: rgba(0, 0, 0, 0.32);
  font-size: 24px;
  color: rgba(black, black, black, 0.32);
  text-decoration: none;
  font-family: "Poppins";
  display: inline;
  justify-content: center;
  padding-left: 70px;
}
#HOME {
  display: inline;
  justify-content: center;
  width: 70px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #20a36c;
  margin: 50px;
}
.navbar {
  margin-left: 467;
  justify-content: center;
}
#recta {
  position: absolute;
  margin-left: 25;
  margin-top: -143;
}
#sinbutton {
  display: inline;
  margin: 90px;
  background-color: #0000;
  border-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins";
  color: #20a36c;
  margin-left: 250;
  font-size: 24px;
  width: 141px;
  height: 56px;
}
.divine {
  background-color: #f5f9fc;
}
.Desc {
  margin-top: 60;
}
h2 {
  position: absolute;
  width: 974px;
  height: 300px;
  left: 120px;
  top: 303px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 112px;

  color: #37374d;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.OpenQuran {
  position: absolute;
  width: 863px;
  height: 863px;
  left: 1057px;
  top: 186px;
}
#AbQuran {
  position: absolute;
  width: 731px;
  height: 113px;
  left: 120px;
  top: 679px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 170%;

  /* or 34px */
  text-align: justify;
  letter-spacing: 0.155em;
  text-transform: capitalize;
  color: #4d4b4b;
}
#readquran {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 50px;
  gap: 10px;
  border-color: #ffffff;

  width: 195px;
  height: 48px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #ffffff;

  position: absolute;
  width: 295px;
  height: 88px;
  left: 119px;
  top: 822px;

  background: linear-gradient(90deg, #20a36c 8.64%, #52e6a7 95.76%);
  border-radius: 10px;
}
#quranaudio {
  width: 285;
  height: 85;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;

  color: #37374d;
  text-align: center;
  margin-left: 544;
  margin-top: -735;
  border-color: #37374d;
  border-radius: 10px;
  background-color: white;
}
.Desc > img {
  position: absolute;
  width: 713px;
  height: 713px;
  left: 189px;
}
.Desc > .Circle {
  position: absolute;
  width: 753px;
  height: 753px;
  left: 169px;
  top: 1202px;
}
h1 {
  position: absolute;
  width: 669px;
  height: 113px;
  left: 1038px;
  top: 1249px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 112px;
  color: #37374d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 500;
}
#WhQuran {
  position: absolute;
  width: 852px;
  height: 324px;
  left: 946px;
  top: 1427px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
  /* or 41px */

  text-align: justify;
  letter-spacing: 0.155em;
  text-transform: capitalize;
  color: #4d4b4b;
  margin-top: 500;
}
#read {
  width: 350px;
  height: 80px;
  border-color: #20a36c;
  border-radius: 10px;
  background-color: white;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  margin-top: 650;
  margin-left: 1190;
  margin-bottom: 3645;
  margin-right: 405;
}
h6 {
  position: absolute;
  width: 1375px;
  height: 226px;
  left: 272px;
  top: 2045px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 112px;
  text-align: center;
  text-transform: capitalize;

  color: #37374d;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 500;
}
.search {
  position: absolute;
  width: 758.7px;
  height: 111px;
  left: 581px;
  top: 2325px;
  padding-top: 670;
}
#vector {
  position: relative;
  margin-top: -2975;
  margin-left: 1244.69;
}
#searchalfatihah {
  position: absolute;
  width: 393.99px;
  height: 58.55px;
  left: 615px;
  top: 2352px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  padding-top: 640;
}
#fatiha {
  width: 219px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  width: 447.53px;
  height: 198px;
  padding-left: 131;
  padding-bottom: 55;
  border-radius: 15px;
  border-color: #7e7e7e;
  margin-top: -2800;
  margin-left: 213;
  background-color: white;
}
#grey {
  margin-left: 236;
}
#num1 {
  margin-left: 272;
  margin-top: -55;
}
#opener {
  width: 120px;
  height: 19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 344;
  margin-top: -90;
}
#verse7 {
  width: 73px;
  height: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 344;
  margin-top: 20;
  padding-bottom: 38;
}
#lines {
  margin-left: 612;
  margin-top: -150;
}
#fatiha-2 {
  width: 219px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  width: 447.53px;
  height: 198px;
  padding-left: 131;
  padding-bottom: 55;
  border-radius: 15px;
  border-color: #7e7e7e;
  margin-top: -150;
  margin-left: 736;
  background-color: white;
}
#grey-2 {
  margin-left: 759.53;
  margin-top: -137;
}
#num1-2 {
  margin-left: 795;
  margin-top: -105;
}
#opener-2 {
  width: 120px;
  height: 19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 867.53;
  margin-top: -90;
}
#verse7-2 {
  width: 73px;
  height: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 867;
  margin-top: 20;
  padding-bottom: 38;
}
#lines-2 {
  margin-left: 1135;
  margin-top: -150;
}
#fatiha-3 {
  width: 219px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  width: 447.53px;
  height: 198px;
  padding-left: 131;
  padding-bottom: 55;
  border-radius: 15px;
  border-color: #7e7e7e;
  margin-top: -67;
  margin-left: 1260.07;
  background-color: white;
}
#grey-3 {
  margin-top: -145;
  margin-left: 1283;
}
#num1-3 {
  margin-top: -115;
  margin-left: 1319;
}
#opener-3 {
  width: 120px;
  height: 19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 1391.07;
  margin-top: -90;
}
#verse7-3 {
  width: 73px;
  height: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 1391.07;
  margin-top: 20;
  padding-bottom: 38;
}
#lines-3 {
  margin-top: -150;
  margin-left: 1659.14;
}
#fatiha-4 {
  width: 219px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  width: 447.53px;
  height: 198px;
  padding-left: 131;
  padding-bottom: 55;
  border-radius: 15px;
  border-color: #7e7e7e;
  margin-top: 230;
  margin-left: 213;
  background-color: white;
}
#grey-4 {
  margin-left: 236;
  margin-top: -135;
}
#num1-4 {
  margin-left: 272;
  margin-top: -105;
}
#opener-4 {
  width: 120px;
  height: 19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 344;
  margin-top: -90;
}
#verse7-4 {
  width: 73px;
  height: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 344;
  margin-top: 20;
  padding-bottom: 38;
}
#lines-4 {
  margin-left: 612;
  margin-top: -150;
}
#fatiha-5 {
  width: 219px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  background: linear-gradient(90deg, #20a36c 8.64%, #52e6a7 95.76%);

  color: #ffffff;
  width: 447.53px;
  height: 198px;
  padding-left: 131;
  padding-bottom: 55;
  border-radius: 15px;
  border-color: #0000;
  margin-top: -68;
  margin-left: 736;
  background-color: white;
}
#green {
  margin-left: 759;
  margin-top: -140;
}
#green1 {
  margin-left: 795;
  margin-top: -110;
}
#opener-5 {
  width: 120px;
  height: 19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #ffffff;
  margin-left: 867.53;
  margin-top: -90;
}
#verse7-5 {
  width: 73px;
  height: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #ffffff;
  margin-left: 867;
  margin-top: 20;
  padding-bottom: 38;
}
#lines-5 {
  margin-left: 1135;
  margin-top: -150;
}
#fatiha-6 {
  width: 219px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  width: 447.53px;
  height: 198px;
  padding-left: 131;
  padding-bottom: 55;
  border-radius: 15px;
  border-color: #7e7e7e;
  margin-top: -68;
  margin-left: 1260.07;
  background-color: white;
}
#grey-6 {
  margin-top: -140;
  margin-left: 1283;
}
#num1-6 {
  margin-top: -110;
  margin-left: 1319;
}
#opener-6 {
  width: 120px;
  height: 19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 1391.07;
  margin-top: -90;
}
#verse7-6 {
  width: 73px;
  height: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 1391.07;
  margin-top: 20;
  padding-bottom: 38;
}
#lines-6 {
  margin-top: -150;
  margin-left: 1659.14;
}
#fatiha-7 {
  width: 219px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  width: 447.53px;
  height: 198px;
  padding-left: 131;
  padding-bottom: 55;
  border-radius: 15px;
  border-color: #7e7e7e;
  margin-top: 230;
  margin-left: 213;
  background-color: white;
}
#grey-7 {
  margin-top: -145;
  margin-left: 236;
}
#num1-7 {
  margin-top: -115;
  margin-left: 272;
}
#opener-7 {
  width: 120px;
  height: 19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 344;
  margin-top: -90;
}
#verse7-7 {
  width: 73px;
  height: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 344;
  margin-top: 20;
  padding-bottom: 38;
}
#lines-7 {
  margin-left: 612;
  margin-top: -150;
}
#fatiha-8 {
  width: 219px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  width: 447.53px;
  height: 198px;
  padding-left: 131;
  padding-bottom: 55;
  border-radius: 15px;
  margin-top: -68;
  margin-left: 736;
  border-color: #7e7e7e;
  color: #37374d;
  background-color: white;
}
#grey-8 {
  margin-top: -140;
  margin-left: 759;
}
#num1-8 {
  margin-top: -110;
  margin-left: 795;
}
#opener-8 {
  width: 120px;
  height: 19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 867.53;
  margin-top: -90;
}
#verse7-8 {
  width: 73px;
  height: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 867;
  margin-top: 20;
  padding-bottom: 38;
}
#lines-8 {
  margin-left: 1135;
  margin-top: -150;
}
#fatiha-9 {
  width: 219px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  width: 447.53px;
  height: 198px;
  padding-left: 131;
  padding-bottom: 55;
  border-radius: 15px;
  border-color: #7e7e7e;
  margin-top: -68;
  margin-left: 1260.07;
  background-color: white;
}
#grey-9 {
  margin-left: 1283;
  margin-top: -140;
}
#num1-9 {
  margin-left: 1319;
  margin-top: -110;
}
#opener-9 {
  width: 120px;
  height: 19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 1391.07;
  margin-top: -90;
}
#verse7-9 {
  width: 73px;
  height: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #4c4b4b;
  margin-left: 1391.07;
  margin-top: 20;
  padding-bottom: 38;
}
#lines-9 {
  margin-top: -150;
  margin-left: 1659.14;
}
#allsurahs {
  width: 318px;
  height: 68px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  margin-left: 840;
  margin-top: 200;
  border-color: #20a36c;
  border-radius: 15px;
  background-color: white;
}
h5 {
  position: absolute;
  width: 1356px;
  height: 226px;
  left: 282px;
  top: 3534px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 112px;
  text-align: center;
  text-transform: capitalize;

  color: #37374d;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 600;
}
#recite {
  padding-left: 149;
  margin-top: -1400;
  border-color: #0000;
}
#kid {
  padding-left: 698;
  margin-top: -1400;
}
#kids {
  padding-left: 1247;
  margin-top: -1400;
}
#learnblog2 {
  position: absolute;
  width: 463px;
  height: 48px;
  left: 128px;
  top: 4284px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  text-align: center;
  text-transform: capitalize;
  color: #37374d;
  padding-top: 732;
  padding-left: 5;
}
#provide {
  position: absolute;
  width: 524px;
  height: 184px;
  left: 149px;
  top: 4356px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
  /* or 41px */

  text-align: justify;
  letter-spacing: 0.155em;
  text-transform: capitalize;

  color: #4d4b4b;
  padding-top: 745;
  padding-left: 5;
}
#learnblog {
  position: absolute;
  width: 463px;
  height: 48px;
  left: 678px;
  top: 4284px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #37374d;
  padding-top: 730;
  padding-left: 5;
}
#readblog {
  position: absolute;
  width: 166px;
  height: 36px;
  left: 127px;
  top: 4516px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #21a56e;
  padding-top: 800;
  padding-left: 5;
}
#provide-2 {
  position: absolute;
  width: 524px;
  height: 184px;
  left: 698px;
  top: 4356px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
  /* or 41px */

  text-align: justify;
  letter-spacing: 0.155em;
  text-transform: capitalize;
  color: #4d4b4b;
  padding-top: 745;
  padding-left: 5;
}
#readblog-2 {
  position: absolute;
  width: 166px;
  height: 36px;
  left: 127px;
  top: 4516px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #21a56e;
  padding-top: 800;
  padding-left: 555;
}
#learnblog3 {
  position: absolute;
  width: 463px;
  height: 48px;
  left: 1225px;
  top: 4284px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #37374d;
  padding-top: 730;
  padding-left: 5;
}
#provide-3 {
  position: absolute;
  width: 524px;
  height: 184px;
  left: 1247px;
  top: 4356px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
  /* or 41px */

  text-align: justify;
  letter-spacing: 0.155em;
  text-transform: capitalize;

  color: #4d4b4b;
  padding-top: 745;
  padding-left: 5;
}
#readblog-3 {
  position: absolute;
  width: 166px;
  height: 36px;
  left: 127px;
  top: 4516px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #21a56e;
  padding-top: 800;
  padding-left: 1105;
}
#readallblogs {
  height: 62px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #37374d;
  border-radius: 10px;
  border-color: #20a36c;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 800;
  margin-top: -540;
}
footer {
  background-color: #37374d;
  padding: 85;
  padding-left: 241;
  padding-bottom: 500;
  padding-right: 40;
}
#appreciation {
  width: 824px;
  height: 243px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 0.025em;

  color: #ffffff;
}
#contactbox {
  width: 669px;
  height: 602px;
  border-color: #0000;
  border-radius: 40px;
  margin-left: 1020;
  margin-top: -270;
}
#fname {
  position: absolute;
  width: 600px;
  height: 58px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  background-color: #37374c;
  border-radius: 40px;
  margin-left: 1050;
  margin-top: -560;
  padding-left: 50;

  color: #ffffff;
}
#sname {
  position: absolute;
  width: 600px;
  height: 58px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  background-color: #37374c;
  border-radius: 40px;
  margin-left: 1050;
  margin-top: -460;
  padding-left: 50;

  color: #ffffff;
}
#email {
  position: absolute;
  width: 600px;
  height: 58px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  background-color: #37374c;
  border-radius: 40px;
  margin-left: 1050;
  margin-top: -360;
  padding-left: 50;

  color: #ffffff;
}
#aadd {
  position: absolute;
  width: 600px;
  height: 160px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  background-color: #37374c;
  border-radius: 40px;
  margin-left: 1050;
  margin-top: -270;
  padding-left: 50;

  color: #ffffff;
}
#submit {
  width: 574px;
  height: 57.4px;

  background: #49d99d;
  box-shadow: 4px 8px 16px -2px rgba(0, 0, 0, 0.25);
  border-radius: 40px;

  text-align: center;

  font-family: "Cairo";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  color: #ffffff;
  border-color: #0000;
  margin-top: -80;
  margin-left: 1062;
}
#contactinfo {
  width: 345px;
  height: 60px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  padding-left: 230;
}
#footerimg-1 {
  margin-left: -350;
  margin-top: -500;
}
#footerimg-2 {
  margin-top: -350;
  margin-left: 150;
}
#footerimg-3 {
  margin-top: -350;
  margin-left: 370;
}
#footerimg-4 {
  margin-top: -350;
  margin-left: 570;
}
